# 忽略build目录（无论位于项目的哪个层级）
build/
logs/

# 其他常见忽略项（可选）
*.o         # 编译生成的目标文件
*.a         # 静态库文件
*.so        # 共享库文件
*.exe       # 可执行文件
*.out       # 临时输出文件
*.log       # 日志文件
*.ini


# 忽略 StatusServer 目录下的所有内容
/server/StatusServer/**
# 不忽略 src 目录（为了能访问里面的文件）
!/server/StatusServer/src/
# 忽略 src 目录下的所有文件
/server/StatusServer/src/**
!/server/StatusServer/src/main.cpp
!/server/StatusServer/src/StatusServiceImpl.cpp
!/server/StatusServer/src/message*

!/server/StatusServer/include/
/server/StatusServer/include/**
!/server/StatusServer/include/StatusServiceImpl.hpp
!/server/StatusServer/include/message*




